<form [formGroup]="userForm">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="userForm.get('username')?.hasError('required')">
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.get('role')?.hasError('required')">
      Role is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />
    <mat-error *ngIf="passwordErrors.length > 0">
      <ul>
        <li *ngFor="let error of passwordErrors">{{ error }}</li>
      </ul>
    </mat-error>
  </mat-form-field>
</form>
