<div class="log-container">
  <h1>Application Logs</h1>

  <div *appHasPermission="'ClearLogs'" class="log-controls">
    <mat-form-field style="width: 100%;" appearance="outline" class="log-controls__filter ">
      <mat-label>Search Logs</mat-label>
      <input
        matInput
        [(ngModel)]="filterQuery"
        (input)="onFilterChange()"
        placeholder="Search by username, action, or details"
      />
    </mat-form-field>
    <button mat-raised-button color="warn" class="table-button" (click)="clearOldLogs()">Clear Old Logs</button>
  </div>

  <app-dynamic-table
  [dataSource]="logs"
  [columns]="columns"
></app-dynamic-table>

  <mat-paginator
    [length]="totalLogs"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
