<div class="dashboard">
  <h1>Dashboard</h1>

  <div class="metrics">
    <mat-card class="metric-card" *ngIf="lowStockCount > 0">
      <mat-card-title>Low Stock Items</mat-card-title>
      <mat-card-content>{{ lowStockCount }}</mat-card-content>
    </mat-card>
    <mat-card class="metric-card" *ngIf="expiredProductsCount > 0">
      <mat-card-title>Expired Products</mat-card-title>
      <mat-card-content>{{ expiredProductsCount }}</mat-card-content>
    </mat-card>
    <mat-card *appHasPermission="'ViewSales'" class="metric-card">
      <mat-card-title>Daily Sales</mat-card-title>
      <mat-card-content>{{ dailySales | currency }}</mat-card-content>
    </mat-card>
  </div>

  <div class="product-lists">
    <div class="low-stock-list">
      <h2>Low Stock Products</h2>
      <mat-list>
        <mat-list-item *ngFor="let product of lowStockProducts">
          <span>{{ product.name }} (Stock: {{ product.stock }})</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="expired-products-list">
      <h2>Expired Products</h2>
      <mat-list>
        <mat-list-item *ngFor="let product of expiredProducts">
          <span>{{ product.name }} (Expiry Date: {{ product.expiryDate | date: 'shortDate' }})</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div *appHasPermission="'ViewSales'" class="sales-trends">
    <h2>Sales Trends</h2>
    <div class="chart-container">
      <app-chart *ngIf="salesChartConfig" [chartConfig]="salesChartConfig"></app-chart>
    </div>
  </div>

</div>
