.dashboard {
  padding: 20px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--mat-sys-primary);
  }

  .metrics {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

    .metric-card {
      flex: 1;
      text-align: center;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background-color: var(--mat-sys-surface);
      color: var(--mat-sys-primary);

      mat-card-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      mat-card-content {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .product-lists {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

    .low-stock-list,
    .expired-products-list {
      flex: 1;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      background-color: var(--mat-sys-surface);

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--mat-sys-primary);
      }

      mat-list {
        max-height: 200px;
        overflow-y: auto;

        mat-list-item {
          padding: 10px;
          border-bottom: 1px solid var(--mat-sys-outline);
          display: flex;
          justify-content: space-between;

          &:last-child {
            border-bottom: none;
          }

          span {
            font-size: 1rem;
            color: var(--mat-sys-on-surface);
          }
        }
      }
    }
  }

  .sales-trends {
    margin-top: 20px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: var(--mat-sys-primary);
    }

    .chart-container {
      width: 100%;
      position: relative;
      background-color: var(--mat-sys-surface);
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    .metrics {
      flex-direction: column;
      gap: 15px;
    }

    .product-lists {
      flex-direction: column;
      gap: 15px;

      .low-stock-list,
      .expired-products-list {
        h2 {
          font-size: 1.2rem;
        }
      }
    }

  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    .metrics .metric-card {
      mat-card-title {
        font-size: 1rem;
      }

      mat-card-content {
        font-size: 1.2rem;
      }
    }

    .product-lists .low-stock-list,
    .product-lists .expired-products-list {
      h2 {
        font-size: 1rem;
      }
    }

    .sales-trends .chart-container {
      padding: 10px;
    }
  }
}
